
      <!-- FOOTER -->
      
<footer class="piede">
    <div class="container">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10"><p class="scrittafooter"><span style="font-size:12px; color:#393536; font-weight:bold">© Tecnolab S.p.A.</span> - Centro Direzionale Pasubio Via Prà Bordoni, 10 - 36010 ZANÈ (VI) ITALY Tel. +39 0445 315500 - Fax +39 0445 314721 - P.Iva 03101460248  -  <a href="mailto:contact@tecnolabstand.it">contact@tecnolabstand.it</a> - 
        	<span style="font-size:14px;">
        		<a href="https://www.facebook.com/tecnolabstand/?fref=ts" target="_BLank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><img src="{% static 'img/condfidustria.png' %}" class="ico-confindustria">
        	</span>
        </p></div>
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 designedby"><p style="padding-top:22px;"><a href="http://www.graficapassword.it" target="_blank">designed by grafica<b>PASSWORD</b></a></p></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"><br></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">&nbsp;</div>
    </div>
</footer>