
    



 <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">{% load staticfiles %}
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ MYDIR }}/"><img src="{% static 'img/logo.png' %}" class="logo"></a>
        </div>
        <div class="navbar-collapse collapse">

          <!-- MENU A DESTRA -->
          <ul id="menuactive" class="nav navbar-nav navbar-right menutopright">
            <li><a href="/#">HOME</a></li>
            <li><a href="{% url 'chisiamo' %}">CHIAVI IN MANO</a></li>
            <li>
              <a href="{% url 'fiere' %}">STAND</a></li>
               <!-- /INTERIOR -->
            <!-- MENU ANIMAZIO -->
            <li>
              <a href="#">SHOWROOM</a>
            </li>
            <li>
              <a href="{{ MYDIR }}/render">CASE HISTORY</a>
            </li>
            <li>
              <a href="{{ MYDIR }}/render">GALLERY</a>
            </li>
            </li> <!-- /FINE DESIGN -->
            <!--CONTATTI -->
            <li><a href="#">CONTATTI</a></li> 

          </ul>
        </div><!--/.nav-collapse -->
      </div>
      <!-- FINE MENU -->  

