<footer>{% load staticfiles %}
	    <link rel="stylesheet" href="{% static 'font/css/font-awesome.min.css' %}">

	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-5"></div>
			<div class="col-xs-12 col-sm-2"><img src="{% static 'img/logo_chiaro.png' %}" class="img-responsive logo"></div>
			<div class="col-xs-12 col-sm-5"></div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<p class="text-center">
					<span style="font-size:9pt; color:#f69731; font-weight:bold">© Tecnolab S.p.A.</span> - Centro Direzionale Pasubio Via Prà Bordoni, 10 - 36010 ZANÈ (VI) ITALY<br>
					Tel. +39 0445 315500 - Fax +39 0445 314721 - P.Iva 03101460248  -  <a href="mailto:contact@tecnolabstand.it">contact@tecnolabstand.it</a>
					<br>
					<br>
					<span class="url-footer">
						<a href="http://www.tecnolabstand.it">tecnolabstand.it</a>
					</span>
					<br>
					<br>
					<img src="{% static 'img/associatoconfindustria.png' %}" class="logo-confindustria">
					<br>
					<br>
					<a href="https://www.facebook.com/tecnolabstand/?fref=ts" target="_Blank">
						<img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-facebook-512.png" style="width:20px;">
					</a>
					<br>
					<br>
				</p>
			</div>
		</div>
		<p>

		</p>
	</div>
</footer>